[Desktop Entry]
Type=Application
Name=Free42
GenericName=Calculator
Comment=HP-42S scientific calculator re-implementation
Icon=free42
TryExec=free42dec
Exec=free42dec
Terminal=false
Categories=GTK;Utility;Calculator;
